<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= @title%></title>
</head>

<body>
  <ul>
    <% @files.each do |file| %>
      <li>
        <a href="<%= file %>"><%= file %></a>
      </li>
    <% end %>
  </ul>
  <% if params[:sort] == 'desc' %>
    <p><a href="/">Sort Ascending</a></p>
  <% else %>
    <p><a href="/?sort=desc">Sort Descending</a></p>
  <% end %>
</body>
</html>
